@page
@model IndexModel
@inject ICurrentUser CurrentUser
@{
    ViewData["Title"] = "Home page";
    var users = Model.Users;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <td>
                            @if (this.Model.CurrentUser.CanImpersonateAs(Guid.Parse(user.Id)))
                            {
                                <a href="@Url.Page("/Impersonate", new { userId = user.Id })" class="btn btn-primary btn-sm">Impersonate</a>
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">
    @if (CurrentUser.IsImpersonated())
    {
        <div class="alert alert-info shadow">
            <h4 class="alert-heading">Currently Impersonating!</h4>
            <p>You are logged in as <strong>@CurrentUser.Name</strong>.</p>
            <p>Your original account is <strong>@CurrentUser.FindImpersonatorUserName()</strong>.</p>
            <hr>
            <form asp-page="Impersonate" asp-page-handler="StopImpersonation" method="post">
                <button type="submit" class="btn btn-danger">Stop Impersonating and Return to Original Account</button>
            </form>
        </div>
    }
    else
    {
        <div class="alert alert-secondary shadow">
            <h4 class="alert-heading">Not Impersonating</h4>
            <p>You are logged in as your original account: <strong>@CurrentUser.Name</strong>.</p>
            <a asp-page="/Index" class="btn btn-primary">Go to User List</a>
        </div>
    }
</div>
